/*Fonts importadas*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Paleta de cores da landing page*/
:root{
    
    --color1:#202020;
    --color2:#252525;
    --color3:#303030;
    --color4:#5ce1e6;
    --color5:#5ce1e6;
    --txt1:#fff;
    --txt2:#000;
}
/*Padronização da page*/
*{
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    scroll-behavior: smooth;
}
/*alteração de fundo e cor de seleção*/
*::selection{
    background:var(--color4);
    color:#000;
}
/*tamanho de fonte padrao da pagina*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
/*cor de fundo da pagina*/
body{
    background:#303030;
}
/*padronizando a altura e espaçop interno do conteudo da seção*/
section{
    min-height: 100vh;
    padding:0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}
/*estilizando os botoes da seção sobre a aplicação mobile*/
.btn{
    display: inline-block;
    margin: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:#5ce1e6;
    font-size: 1.7rem;
    color:#000;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
    margin-left: 1vw;
    font-family: 'Poppins', sans-serif;
}
/*efeito de cursor*/
.btn:hover{
    transform: scale(1.1);
}
/*Estilizando os titulos das seções*/
.heading{
    text-align: center;
    background:var(--color4);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:1rem;
    font-family: 'Poppins', sans-serif;
}
/*estilizando todo o cabeçario*/
header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background:#202020;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
}

header .logo{
    font-size: 2rem;
    color:var(--txt1);
    font-family: 'Teko', sans-serif;
    margin-left: 50px;
}
.img-logo{
  margin-left:-10px;
  position: absolute;
  display: inline-block;
  width: 50px;
}
header .logo span{
    color:var(--txt1);
}

header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color:var(--txt1);
}

header .navbar a:hover{
    color:var(--color5);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
header #active{
  color: var(--color4);
}
/*Estilizando o banner inicial da pagina*/
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(3.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .image img{
    width:35vw;
    margin-top: 10px;
    animation: float 3s linear infinite;
}

.home .content h3{
    font-size: 5.5rem;
    color:var(--txt1);
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--color4);
    text-transform: uppercase;
    margin: 10px 10px 10px 10px;
}

.home .content p{
    font-size: 1.7rem;
    color:var(--txt1);
    padding:1rem 0;
    margin: 10px 10px 10px 10px;
}
/*Estilizando os blocos sobre as ferramentas da empresa*/

.contencao{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.features .box-container .box{
    flex:1 1 30rem;
    background:url(2.png) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin: 1.5rem 1.5rem  1.5rem 1.5rem;
    padding:3rem 2rem;
    border-radius: 8px;
    text-align: center;
    transition: .2s linear;
}

.features .box-container .box img{
    width: 15rem;
    height: 15rem;
    border-radius: 100px;
}

.features .box-container .box h3{
    font-size: 1.5rem;
    color:#333;
    padding-top: 1rem;
}

.features .box-container .box p{
    font-size: 1.5rem;
    color:#666;
    padding: 1rem 0;
}


.box-experiencia{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box-experiencia-left{
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}.box-experiencia-left h1{
    margin: 35px;
}
.box-experiencia-right{
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-bars-experiencia{
    width: 40vw;
    height: 60vh;
    font-family: 'Bebas Neue', cursive;
    color: #000;
}

.box-bars-exp{
    margin:  5vh 5vw 0px 5vw;
    font-size: 1.8rem;
}
.bar-extern{
    background-color: #202020;
    width: 100%;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}.bar-intern{
    background-color:aqua;
    height: 15px;
    border-radius: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bar-exp-1, #bar-exp-2{
    width: 82%;
}#bar-exp-3{
    width: 61%;
}#bar-exp-4{
    width: 45%;
}#bar-exp-5{
    width: 36%;
}

@media (max-width:800px) {
    .box-experiencia{
        display: block;
    }.box-experiencia-left{
        height: 100px;
        font-size: 1.5rem;
    }.box-experiencia-right{
        height: 900px;
    }.box-bars-experiencia{
        width: 80vw;
    }
}


/* media queries  */

@media (max-width:1200px){
    
    html{
        font-size: 60%;
    }

}

@media (max-width:991px){
    
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }

}

@media (max-width:768px){

    header label{
        visibility: visible;
        opacity: 1;
        color: var(--color4);
    }

    header .navbar{
        position: absolute;
        top:100%; left: 0;
        width:100%;
        background:var(--color2);
        padding:1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin:2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content:'\f00d';
    }

    .home{
        flex-flow: column-reverse;
    }

    .home .image img{
        width:50vw;
    }

    .home .content h3{
        font-size: 3.6rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

}

/*div*/

/*portifolio-anime-zone*/
.anime-zone{
  margin-top: 0px;
  background-image:url(../images/bg-portifolio-anime-zone.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}.anime-zone #title-anime-zone{
  color: #fff;
  text-align: center;
  margin: 200px;
  font-size: 7rem;
}.anime-zone .about-prototipo{
  margin: 20px;
  text-align: justify;
  color: white;
  font-size: 20px;
}
/*Estilizando o footer*/
footer{
    background: var(--color2);
    width: 100%;
    bottom: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
    margin-top: 200px;
  }
  footer::before{
    content: '';
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #fff;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: rgb(26, 25, 25);
  }
  .top .media-icons a:nth-child(2):hover{
    color: rgb(26, 25, 25);
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: white;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #000;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="submit"]{
    background:var(--color4);
    color: black;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="submit"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: var(--color4);
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: black;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
      background-color: #202020;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }

::-webkit-scrollbar{
  background-color: rgb(112, 112, 112);
}::-webkit-scrollbar-thumb{
background-color: rgb(51, 58, 55);
border-radius: 2vw;
}

.box-contato{
  display: grid;
  grid-template-columns: 1fr 1fr;
}.box-contato-left{
  background: url(bgcontato.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}.form > input[type="text"],[type="email"]{
  width: 350px;
  height: 70px;
  border: none;
  margin: 20px;
  background-color: #252525;
  color: white;
  padding: 15px;
  font-size: 2rem;
  box-shadow: 10px 10px #000;
}.form > label{
  margin: 20px;
font-size: 2rem;
font-family: Arial, Helvetica, sans-serif;
}.form > h1{
  color:#5ce1e6;
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
  text-align: center;
}.form > input[type="submit"]{
  background-color: #5ce1e6;
  color: #000;
  width: 350px;
  height: 70px;
  box-shadow: 10px 10px #000;
  margin: 20px;
}
.box-contato-right{
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:800px){
  .box-contato{
    display: block;
  }.box-contato-left{
    display: none;
  }
}

@media (max-width:600px){
  .features{
    margin-top: 200px;
  }footer{
    margin-top: 400px;
  }
}

